.container-fluid
  .card.col-lg-6.mx-auto
    = render 'shared/card/card_header', title: 'Nouveau Véhicule'
    .card-body 
      = simple_form_for @vehicule, url: vehicule_path(@vehicule), data: {turbo: false} do |f|
        != render 'form',  f:f