.modal-header
  .d-flex.align-items-center.gap-2
    - if local_assigns[:header_icon]
      %i{class: header_icon}
    .modal-title= header_title
  %button{class: 'btn-close', 'data-bs-dismiss': 'modal', 'aria-label': 'Close'}