%aside{class: 'z-30 flex flex-col justify-start w-64 overflow-y-auto bg-white '}
  .py-4.text-gray-500 
    = link_to 'SecuriParc', root_path, class: 'ml-6 text-lg font-bold text-gray-800'

    %nav.mt-2
      %ul.flex.flex-col.px-2.gap-y-2
        = render NavitemComponent.new(title: 'dashboard', icon: 'fas fa-tachometer-alt', path: root_path, active: controller_name == 'dashboard')
  .user-container.mt-auto
    - if current_user
      %p= current_user.full_name
