
#locations 
  %table.table.table-striped
    %thead
      %tr
        %th= t('activerecord.attributes.location.localisation')
        %th= t('activerecord.attributes.location.name')
        %th.text-end= t('action.one')
    %tbody
      != render partial: 'shared/locations/location', collection: locations if local_assigns[:locations].any?